* {
    padding: 0;
    margin: 0;
}

body{
    background-color: midnightblue;
    box-sizing: border-box;
}

/* container spanning over the whole page */
#container { 
    width: 100vw;
    height: 100vh;
    display: flex;
}

/* Body of the calculator centered in the middle */
.calcul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 320px;
    background-color: #454545;
    margin: auto;
    border-radius: 10px;
}

/* top part including screen */
.top {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 70px;
    background-color: #454555;
    margin: auto;
    justify-content: center;
    align-items: center;
}

/* screen of calculator */
.screen {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 185px;
    height: 60px;
    background-color: rgb(90, 135, 118);
    border-radius: 8px;
}

#para {
    font-size: 2.1em;
    flex-grow: 0;
}


/* bottom half of the calculator */
.bottom {
    margin: auto 0 2.5em;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    row-gap: 4px;
}

.btn {
    display: flex;
    justify-content: center;
}

button {
    padding: 7px;
    border-radius: 10px;
    color: #fff;
    border-color: rgb(180, 0, 0);
    background-color: rgb(180, 0, 0);
}